@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #5675a4;
  color: #755a5a;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(242, 106, 48, 0.313);
  padding: 15px 50px;
  box-shadow: 0 2px 10px rgba(143, 24, 24, 0.783);
  position: sticky;
  top: 0;
  z-index: 100;
}

.shop {
  color: #2c728cde;
  font-weight: 700;
}
.ier {
  color: #859b09e7;
}

.header-right nav a {
  margin-left: 20px;
  color: #333;
  text-decoration: none;
  font-weight: 600;
}

.cart {
  position: relative;
  color: #8fa059;
  font-size: 22px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #a0795e;
  color: rgb(199, 153, 153);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* FILTERS */
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  background: #7b6969;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  border-radius: 10px;
  margin: 20px 50px;
}

.filters button {
  background: #8caeb4;
  border: 1px solid #d3a5c7;
  padding: 8px 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.filters button.active,
.filters button:hover {
  background: #8bb0a1;
  color: #795e5e;
  border-color: #ff6600;
}

.filters input {
  padding: 8px 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  outline: none;
  flex-grow: 1;
  min-width: 200px;
}

/* PRODUCT GRID */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 40px 60px;
}

.card {
  background: rgba(64, 36, 36, 0.585);
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(177, 124, 124, 0.08);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.card h3 {
  color: #bba5a5;
  margin-top: 10px;
  font-size: 18px;
}

.card p {
  color: #666;
  font-size: 14px;
  margin: 10px 0;
  height: 50px;
}

.price {
  font-size: 18px;
  color: #966b9a;
  font-weight: 600;
  margin: 10px 0;
}

.add-to-cart {
  background: #4a7478;
  color: rgb(201, 140, 184);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.add-to-cart:hover {
  background: #7372c1;
}
